<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

 <table class="table table-hover" border="1">

    <tr>
        <th>Owner Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Price</th>
        <th>Phone</th>
        <th>Status</th>

    </tr>
    <div th:each="test : ${values}">

        <tr>
            <td><p th:text = "${test.ownerName}"></p></td>
            <td th:text = "${test.address}"></td>
            <td><p th:text = "${test.city}"></p></td>
            <td th:text = "${test.state}"></td>
            <td><p th:text = "${test.price}"></p></td>
            <td th:text = "${test.phone}"></td>
            <td><p th:text = "${test.status}"></p></td>

            <!--<td th:text = "${#dates.format(mylink.date, 'MMM-dd-yyyy')}"></td>  #dates.format(sprint.releaseDate, 'dd-MMM-yyyy')-->
        </tr>
    </div>
</table>

</body>
</html>