<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="newMain :: Mena">
    <meta charset="UTF-8"/>
    <title>DEBAL FELAGI</title>
</head>
<body>

<div class="container">
    <nav th:replace="newMain :: navi"></nav>
    <div class="jumbotron text-center">
<h1>Rent A Room or Be Homeless</h1>

<form action="#" th:action="@{/home}" th:object="${house}" method="post">

    <div class="col-xs-4">
        <label for="ownerName">owner Name</label>
        <input type="text" name="OWNER" th:field="*{ownerName}" class="form-control" id="ownerName" placeholder="ownerName" />
    </div>
    <div class="col-xs-4">
        <label for="address">address</label>
        <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="address" />
    </div>
    <div class="col-xs-4">
        <label for="city">city</label>
        <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="city" />
    </div>
    <div class="col-xs-4">
        <label for="state">state</label>
        <input type="text" th:field="*{state}" class="form-control" id="state" placeholder="state" />
    </div>
    <div class="col-xs-4">
        <label for="state">Type</label>
        <input type="text" th:field="*{type}" class="form-control" id="type" placeholder="Apt, roomate" />
    </div>
    <div class="col-xs-4">
        <label for="state">Bath</label>
        <input type="text" th:field="*{bath}" class="form-control" id="bath" placeholder="individual, shared" />
    </div>
    <div class="col-xs-4">
        <label for="state">Kitchen</label>
        <input type="text" th:field="*{kitchen}" class="form-control" id="kitchen" placeholder="Kitchen" />
    </div>
    <div class="col-xs-4">
        <label for="state">Duration</label>
        <input type="text" th:field="*{duration}" class="form-control" id="duration" placeholder="3 month, unlimited" />
    </div>
    <div class="col-xs-4">
        <label for="price">price</label>
        <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="price" />
    </div>
    <div class="col-xs-4">
        <label for="phone">phone</label>
        <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="phone" />
    </div>
    <div class="col-xs-4">
        <label for="status">status</label>
        <input type="text" th:field="*{status}" class="form-control" id="status" placeholder="status" />
    </div>
    <div class="col-xs-4">
        <label for="status">Remark</label>
        <input type="textarea" th:field="*{remark}" class="form-control" id="remark" placeholder="Near to supermarket and good for transportation" />
    </div>

    <button type="submit" class="btn btn-info">Submit</button>

    </form>

</div>
</div>
</body>
</html>